<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        formControlName="email">
      <mat-hint>Por favor digite um email válido</mat-hint>
      <mat-error>Campo email é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Your password"
        formControlName="password">
      <mat-hint>Por favor digite sua senha</mat-hint>
      <mat-error>Campo em branco</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
  </form>
</section>
