<mat-card class="cerveja-card" fxFlex="400px">
  <mat-card-header>
    <div mat-card-avatar class="cerveja-header-image"></div>
    <mat-card-title>{{cerveja.nome}}</mat-card-title>
    <mat-card-subtitle>{{cerveja.produtor}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
       [src]="cerveja.urlImagem"
       alt="Beer picture">
  <mat-card-content>
    <p>{{cerveja.estilo}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button type="submit" mat-button>DETALHES</button>
    <button type="submit" mat-button>COMPRAR</button>
  </mat-card-actions>
</mat-card>
